@media only screen and (max-width: 650px) {
 header {
  font-size: 24px;
  justify-content: space-between;
  padding: 0 20%;
  position: fixed;
 }

 header > .fa-bars {
  display: block;
 }

 nav {
   background-color: #ed1c236b;
   display: none;
   height: 100%;
   position: fixed;
   backdrop-filter: blur(7px);
 }

 nav .logo {
   display: none;
 }

 .menu {
   width: 100%;
   margin-top: 25%;
 }
 
 .menu > ul {
   height: auto;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 .menu li {
   width: 100%;
 }

 /* style the main */

 .main_head {
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .main_head > h1 {
   display: none;
 }

 .main_head > p {
   left: auto;
   bottom: auto;
   width: 90%;
   background-color: rgba(255, 255, 255, 0.61);
 }

 .meals_container {
   width: 100%;
   margin: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 .meals_container > article {
   width: 80%;
 }

 .inst {
   height: auto;
 }
}