@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --bg-color: #e8e9ea;
  --bar-color: #fafafa;
  --hd-color: #ffcb05;
  --color: #ed1c24;
  --nd-color: #545862;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
  color: var(--nd-color);
}

body {
  background-color: white;
}

header {
  display: flex;
  width: 100%;
  justify-content: center;
  font-weight: 900;
  font-size: 34px;
  align-items: center;
  background-color: var(--hd-color);
  height: 45px;
  z-index: 100;
}

header > span {
  color: var(--bar-color);
}

header > .fa-bars {
  display: none;
}

nav {
  display: flex;
  position: absolute;
  width: 100%;
  z-index: 10;
  justify-content: space-between;
  height: 70px;
  background-color: #fafafa54;
}

.logo {
  margin-left: 10%;
}

.logo img {
  height: 70px;
}

.menu {
  width: 30%;
}

.menu > ul {
  display: flex;
  height: 70px;
}

.food-details > li {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-size: 22px;
  padding: 1rem;
}

.menu li {
  width: 100px;
  height: 70px;
  padding: 5px 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  transition: 0.2s background-color;
}

.menu li:hover {
  background-color: #ed1c2331;
  border-top: 5px solid var(--color);
  padding-top: 0;
  color: var(--bar-color);
}

.menu > ul a {
  text-decoration: none;
  font-weight: 500;
  line-height: 14px;
  font-size: 20px;
  color: white;
}

.menu li:hover a {
  color: var(--bar-color);
}

/* style the main */

.main_head {
  width: 100%;
  height: 60vh;
  position: relative;
  display: block;
  background-image: url('assest/8984.webp');
  background-size: cover;
  z-index: 0;
  background-repeat: no-repeat;
}

.main_head > h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  background-image: linear-gradient(50deg, rgba(255, 255, 255, 0.2) 10%, rgba(255, 255, 255, 0.5) 30%, rgba(255, 255, 255, 0.7) 60%);
  border-radius: 50%;
  top: 30%;
  position: absolute;
  left: 45%;
  text-align: center;
  font-size: 50px;
  color: var(--color);
  line-height: 58px;
  font-weight: 900;
  animation: flash 3s ease-in;
  animation-iteration-count: infinite;
}

@keyframes flash {
  0% { background-image: linear-gradient(50deg, rgba(255, 255, 255, 0.2) 10%, rgba(255, 255, 255, 0.5) 30%, rgba(255, 255, 255, 0.7) 60%); }
  20% { background-image: linear-gradient(80deg, rgba(255, 255, 255, 0.2) 10%, rgba(255, 255, 255, 0.5) 30%, rgba(255, 255, 255, 0.7) 60%); }
  40% { background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.2) 10%, rgba(255, 255, 255, 0.5) 30%, rgba(255, 255, 255, 0.7) 60%); }
  50% { background-image: linear-gradient(130deg, rgba(255, 255, 255, 0.2) 10%, rgba(255, 255, 255, 0.5) 30%, rgba(255, 255, 255, 0.7) 60%); }
  60% { background-image: linear-gradient(190deg, rgba(255, 255, 255, 0.2) 10%, rgba(255, 255, 255, 0.5) 30%, rgba(255, 255, 255, 0.7) 60%); }
  70% { background-image: linear-gradient(230deg, rgba(255, 255, 255, 0.2) 10%, rgba(255, 255, 255, 0.5) 30%, rgba(255, 255, 255, 0.7) 60%); }
  80% { background-image: linear-gradient(300deg, rgba(255, 255, 255, 0.2) 10%, rgba(255, 255, 255, 0.5) 30%, rgba(255, 255, 255, 0.7) 60%); }
  90% { background-image: linear-gradient(360deg, rgba(255, 255, 255, 0.2) 10%, rgba(255, 255, 255, 0.5) 30%, rgba(255, 255, 255, 0.7) 60%); }
  100% { background-image: linear-gradient(50deg, rgba(255, 255, 255, 0.2) 10%, rgba(255, 255, 255, 0.5) 30%, rgba(255, 255, 255, 0.7) 60%); }
}



/* style footer */

footer {
  align-items: center;
  align-content: center;
  padding: 1.5rem;
  border: 2px solid grey;
  background-color: #dd1a32;
  color: var(--bar-color);
}
